openapi: 3.2.0
info:
  contact: {}
  description: API for Signadot Sandboxes
  title: Signadot Cluster API
  version: '2.0'
servers:
- url: https://api.signadot.com/api/v2
tags:
- name: Cluster
paths:
  /orgs/{orgName}/clusters/:
    get:
      description: List clusters.
      operationId: list-clusters
      parameters:
      - description: Signadot Org Name
        in: path
        name: orgName
        required: true
        x-example: my-company
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cluster'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: List clusters
      tags:
      - Cluster
  /orgs/{orgName}/clusters/{clusterName}/:
    delete:
      description: Remove a Kubernetes cluster from Signadot.
      operationId: remove-cluster
      parameters:
      - description: Signadot Org Name
        in: path
        name: orgName
        required: true
        x-example: my-company
        schema:
          type: string
      - description: Cluster Name
        in: path
        name: clusterName
        required: true
        x-example: my-cluster
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Remove a cluster
      tags:
      - Cluster
    get:
      description: Get a cluster.
      operationId: get-cluster
      parameters:
      - description: Signadot Org Name
        in: path
        name: orgName
        required: true
        x-example: my-company
        schema:
          type: string
      - description: Cluster Name
        in: path
        name: clusterName
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get a cluster
      tags:
      - Cluster
    put:
      description: Add a Kubernetes cluster to Signadot.
      operationId: add-cluster
      parameters:
      - description: Signadot Org Name
        in: path
        name: orgName
        required: true
        x-example: my-company
        schema:
          type: string
      - description: Cluster Name
        in: path
        name: clusterName
        required: true
        x-example: my-cluster
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Add a cluster
      tags:
      - Cluster
  /orgs/{orgName}/clusters/{clusterName}/tokens:
    post:
      description: Create a new token for connecting a cluster.
      operationId: create-cluster-token
      parameters:
      - description: Signadot Org Name
        in: path
        name: orgName
        required: true
        x-example: my-company
        schema:
          type: string
      - description: Cluster Name
        in: path
        name: clusterName
        required: true
        x-example: my-new-cluster
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterToken'
      security:
      - ApiKeyAuth: []
      summary: Create cluster token
      tags:
      - Cluster
  /orgs/{orgName}/clusters/{clusterName}/tokens/:
    get:
      description: List the cluster tokens associated with a cluster.
      operationId: list-cluster-tokens
      parameters:
      - description: Signadot Org Name
        in: path
        name: orgName
        required: true
        x-example: my-company
        schema:
          type: string
      - description: Cluster Name
        in: path
        name: clusterName
        required: true
        x-example: my-new-cluster
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ClusterToken'
                type: array
      security:
      - ApiKeyAuth: []
      summary: List cluster tokens
      tags:
      - Cluster
  /orgs/{orgName}/clusters/{clusterName}/tokens/{tokenId}:
    delete:
      description: Delete a cluster token associated with a cluster.
      operationId: delete-cluster-token
      parameters:
      - description: Signadot Org Name
        in: path
        name: orgName
        required: true
        x-example: my-company
        schema:
          type: string
      - description: Cluster Name
        in: path
        name: clusterName
        required: true
        x-example: my-new-cluster
        schema:
          type: string
      - description: Token Id
        in: path
        name: tokenId
        required: true
        x-example: kq6mtksk7mn5
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      security:
      - ApiKeyAuth: []
      summary: Delete cluster token
      tags:
      - Cluster
    get:
      description: Get a cluster token associated with a cluster.
      operationId: get-cluster-token
      parameters:
      - description: Signadot Org Name
        in: path
        name: orgName
        required: true
        x-example: my-company
        schema:
          type: string
      - description: Cluster Name
        in: path
        name: clusterName
        required: true
        x-example: my-new-cluster
        schema:
          type: string
      - description: Token Id
        in: path
        name: tokenId
        required: true
        x-example: kq6mtksk7mn5
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterToken'
      security:
      - ApiKeyAuth: []
      summary: Get a cluster token
      tags:
      - Cluster
components:
  schemas:
    Cluster:
      properties:
        clusterConfig:
          allOf:
          - $ref: '#/components/schemas/config.ClusterConfig'
          description: Cluster config read from the cluster
        createdAt:
          description: The time when this cluster was registered with Signadot.
          type: string
        name:
          description: The name of the cluster.
          type: string
        operator:
          allOf:
          - $ref: '#/components/schemas/cluster.Operator'
          description: Information about the Signadot Operator in this cluster.
      type: object
    cluster.Operator:
      properties:
        version:
          description: 'The operator version of the cluster.  This may be

            nil if the cluster has not yet connected to Signadot.'
          type: string
      type: object
    config.TrafficManagerConfig:
      properties:
        enabled:
          type: boolean
      type: object
    config.RoutingConfig:
      properties:
        customHeaders:
          items:
            type: string
          type: array
        defaultHeaders:
          items:
            $ref: '#/components/schemas/config.DefaultHeaderClass'
          type: array
        gatewayAPI:
          $ref: '#/components/schemas/config.GatewayAPIConfig'
        iptablesMode:
          type: string
        istio:
          $ref: '#/components/schemas/config.IstioConfig'
        linkerd:
          $ref: '#/components/schemas/config.LinkerdConfig'
        queryParamRouting:
          $ref: '#/components/schemas/config.QueryParamRoutingConfig'
      type: object
    config.QueryParamRoutingConfig:
      properties:
        enabled:
          type: boolean
        paramName:
          type: string
      type: object
    config.LinkerdConfig:
      properties:
        enabled:
          type: boolean
        operator:
          $ref: '#/components/schemas/config.LinkerdSignadotOperator'
      type: object
    config.IstioSignadotOperator:
      properties:
        podLabels:
          additionalProperties:
            type: string
          type: object
      type: object
    ClusterToken:
      properties:
        createdAt:
          description: The time when this cluster was registered with Signadot.
          type: string
        id:
          description: The ID of this token
          type: string
        maskedValue:
          description: A Masked token value.
          type: string
        status:
          allOf:
          - $ref: '#/components/schemas/ClusterTokenStatus'
          description: Token status.
        token:
          description: The token value.
          type: string
      type: object
    config.GatewayAPIConfig:
      properties:
        enabled:
          type: boolean
        preservedAnnotations:
          items:
            type: string
          type: array
        preservedLabels:
          items:
            type: string
          type: array
      type: object
    config.IstioConfig:
      properties:
        enableHostRouting:
          description: Deprecated fields
          type: boolean
        enabled:
          type: boolean
        operator:
          $ref: '#/components/schemas/config.IstioSignadotOperator'
      type: object
    config.DefaultHeaderClass:
      enum:
      - baggage
      - tracestate
      type: string
      x-enum-varnames:
      - DefaultHeaderBaggage
      - DefaultHeaderTraceState
    EmptyResponse:
      type: object
    config.ControlPlaneConfig:
      properties:
        disabled:
          description: control plane can be disabled
          type: boolean
        proxy:
          description: control plane proxy can be "enabled" or "disabled"
          type: string
        tunnelAddr:
          type: string
        tunnelTLS:
          type: boolean
      type: object
    config.ClusterConfig:
      properties:
        allowOrphanedResources:
          type: boolean
        allowedNamespaces:
          items:
            type: string
          type: array
        controlPlane:
          $ref: '#/components/schemas/config.ControlPlaneConfig'
        routing:
          $ref: '#/components/schemas/config.RoutingConfig'
        sandboxTrafficManager:
          allOf:
          - $ref: '#/components/schemas/config.SandboxTrafficManagerConfig'
          description: Deprecated field
        trafficCapture:
          $ref: '#/components/schemas/config.TrafficCaptureConfig'
        trafficManager:
          $ref: '#/components/schemas/config.TrafficManagerConfig'
      type: object
    config.SandboxTrafficManagerConfig:
      properties:
        enabled:
          type: boolean
      type: object
    config.LinkerdSignadotOperator:
      properties:
        podAnnotations:
          additionalProperties:
            type: string
          type: object
      type: object
    config.TrafficCaptureConfig:
      properties:
        enabled:
          type: boolean
        requestHeadersElide:
          items:
            type: string
          type: array
        responseHeadersElide:
          items:
            type: string
          type: array
      type: object
    ErrorResponse:
      properties:
        code:
          type: integer
        error:
          type: string
        requestId:
          type: string
      type: object
    ClusterTokenStatus:
      properties:
        lastConnectedAt:
          description: The last time at which this token was used to connect.
          type: string
        lastConnectedIp:
          description: The last IP address from which this token connected.
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: signadot-api-key
      type: apiKey
