openapi: 3.2.0
info:
  contact: {}
  description: API for Signadot Sandboxes
  title: Signadot Orgs API
  version: '2.0'
servers:
- url: https://api.signadot.com/api/v2
tags:
- name: Orgs
paths:
  /orgs/:
    get:
      description: Get organization details
      operationId: get-org-name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orgs.GetOrgNameResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get Org Name
      tags:
      - Orgs
components:
  schemas:
    orgs.GetOrgNameResponse:
      properties:
        clusterID:
          description: ID of Authenticated Cluster, if any (via signadot-cluster-token header)
          type: string
        featureFlags:
          additionalProperties:
            type: boolean
          description: Feature Flags as result of authentication
          type: object
        orgs:
          items:
            $ref: '#/components/schemas/orgs.Org'
          type: array
        user:
          allOf:
          - $ref: '#/components/schemas/orgs.User'
          description: Authenticated User, if any
        userFlags:
          allOf:
          - $ref: '#/components/schemas/authtypes.UserFlags'
          description: Flags of authenticated user, if any
      type: object
    orgs.User:
      properties:
        avatar:
          type: string
        createdAt:
          type: string
        email:
          type: string
        firstName:
          type: string
        id:
          type: string
        lastName:
          type: string
        role:
          type: string
        updatedAt:
          type: string
      type: object
    authtypes.UserFlags:
      additionalProperties:
        type: boolean
      type: object
    ErrorResponse:
      properties:
        code:
          type: integer
        error:
          type: string
        requestId:
          type: string
      type: object
    orgs.Org:
      properties:
        displayName:
          type: string
        name:
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: signadot-api-key
      type: apiKey
